<html>
  <body>
    <h1>Welcome <%= agent_email %></h1>
    <form action="/search" method="post">
      <label for="searchQuery">Search by:</label>
      <select name="searchBy">
        <option value="name">Name</option>
        <option value="company">Company</option>
        <option value="date">Date</option>
      </select>
      <input type="text" name="searchQuery" id="searchQuery" placeholder="Enter search term">
      <button type="submit">Search</button>
    </form>
    <form action="/add" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" placeholder="Enter Full Name">
      <label for="company">Company:</label>
      <input type="text" name="company" id="company" placeholder="Enter Company">
      <label for="items">Items:</label>
      <input type="text" name="items" id="items" placeholder="Enter Items">
      <label for="location">Location:</label>
      <input type="text" name="location" id="location" placeholder="Enter Location">
      <label for="start_time">Start Time:</label>
      <input type="text" name="start_time" id="start_time" placeholder="Enter Start Time">
      <label for="end_time">End Time:</label>
      <input type="text" name="end_time" id="end_time" placeholder="Enter End Time">
      <label for="date">Date:</label>
      <input type="text" name="date" id="date" placeholder="Enter Date">
      <button type="submit">Add Data</button>
    </form>

    <a href="/logout">Sign Out</a>
  </body>
</html>