<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="CSS/index.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="sidebar">
    <div class="top-section">
        <a href="https://assets.ctfassets.net/jaw4bomip9l3/WvPHHlwNva95H6fRWoGI0/44e928ba4f630f90d0926a7d224396d7/Terminal_Map_-_Backlit_60x54_Web_Oct_2023.pdf" target="_blank">Terminal Map</a>
        <a href="/logout">Sign Out</a>
    </div>
    <div class="bottom-section">
        <a href="https://www.instagram.com/wright_international_airport/" class="fa fa-instagram"></a>
        <a href="https://twitter.com/WrightIntlAir" class="fa fa-twitter"></a>    
    </div>
  </div>
    <div class="content">
        <h1 class="welcome">Welcome <%= agent_email %></h1>
        <h2>Search</h2>
        <form action="/search" method="post" class="edit-form" >
          <label for="searchQuery">Search by:</label>
          <div class="searchBy">
            <select name="searchBy">
              <option value="name">Name</option>
              <option value="company">Company</option>
              <option value="date">Date</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" name="searchQuery" id="searchQuery" placeholder="Enter search term">
          </div>
          <button type="submit">Search</button>
      </form>
        <h2>Add a new contractor</h2>
        <form action="/add" method="post" class="edit-form">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter Full Name">
          </div>
          <div class="form-group">
            <label for="company">Company:</label>
            <input type="text" name="company" id="company" placeholder="Enter Company">
          </div>
          <div class="form-group">
            <label for="items">Items:</label>
            <input type="text" name="items" id="items" placeholder="Enter Items">
          </div>
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" name="location" id="location" placeholder="Enter Location">
          </div>
          <div class="form-group">
            <label for="start_time">Start Time:</label>
            <input type="text" name="start_time" id="start_time" placeholder="Enter Start Time">
          </div>
          <div class="form-group">
            <label for="end_time">End Time:</label>
            <input type="text" name="end_time" id="end_time" placeholder="Enter End Time">
          </div>
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" name="date" id="date">
          </div>
          <button type="submit">Add Data</button>
        </form>
    </div>
</body>
</html>