<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="CSS/index.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="sidebar">
    <div class="top-section">
        <a href="https://assets.ctfassets.net/jaw4bomip9l3/WvPHHlwNva95H6fRWoGI0/44e928ba4f630f90d0926a7d224396d7/Terminal_Map_-_Backlit_60x54_Web_Oct_2023.pdf" target="_blank" class="navButton">Terminal Map</a>
        <a href="/logout" class="navButton">Sign Out</a>
    </div>
    <div class="bottom-section">
        <a href="https://www.instagram.com/wright_international_airport/" class="fa-brands fa-instagram"></a>
        <a href="https://twitter.com/WrightIntlAir" class="fa-brands fa-x-twitter"></a>    
    </div>
  </div>
    <div class="content">
        <h1 class="welcome">Welcome <%= agent_email %></h1>
        <h2>Search</h2>
        <form action="/search" method="post" class="edit-form" onsubmit="return validateSearch()">
          <div class="form-group">
            <input type="text" name="searchQuery" id="searchQuery" placeholder="Enter search term. For date, enter MM-DD-YYYY">
            <p id="searchError" class="error" style="display: none;">Please enter a search term.</p>
          </div>
          <button type="submit">Search</button>
        </form>
      <script>
        function validateSearch() {
          const searchQuery = document.getElementById('searchQuery').value.trim();
          const searchError = document.getElementById('searchError');
      
          // Check if the search query is empty
          if (searchQuery === '') {
            searchError.style.display = 'block'; // Show the error message
            return false; // Prevent form submission
          }
      
          return true; // Allow form submission
        }
      </script>
        <h2>Add a new contractor</h2>
        <form action="/add" method="post" class="edit-form" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter Full Name" required>
          </div>
          <div class="form-group">
            <label for="company">Company:</label>
            <input type="text" name="company" id="company" placeholder="Enter Company" required>
          </div>
          <div class="form-group">
            <label for="items">Items:</label>
            <input type="text" name="items" id="items" placeholder="Enter Items" required>
          </div>
          <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" name="location" id="location" placeholder="Enter Location" required>
          </div>
          <div class="form-group">
            <label for="start_time">Start Time:</label>
            <input type="text" name="start_time" id="start_time" placeholder="Enter Start Time" required>
          </div>
          <div class="form-group">
            <label for="end_time">End Time:</label>
            <input type="text" name="end_time" id="end_time" placeholder="Enter End Time" required>
          </div>
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" name="date" id="date" required>
          </div>
          <div class="form-group">
            <label for="image" class="file-input-label">Choose Image</label>
            <input type="file" id="image" name="image" accept="image/*">
          </div>
          <button type="submit">Add Data</button>
        </form>
    </div>
</body>
</html>