<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis..com/css2?family=Dosis:wght@200&family=Gantari&family=Roboto&display=swap">
    <script src="https://kit.fontawesome.com/4aa1498f38.js" crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="CSS/login.css">
    <a href="https://www.flaticon.com/free-icons/button" title="button icons"></a>
    <title>Login Page</title>
    <style>
        a {
            color: black;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="login-card">
            <img src="images/WIA_2.png" alt="Logo" id="logo-image">
            <h3>Welcome</h3>
            <a href="/login" id="okta-sso-button" class="button">Okta Single Sign On</a>
            <div class="error">
                <% if (messages.error) { %>
                    <%= messages.error %>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>