<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis..com/css2?family=Dosis:wght@200&family=Gantari&family=Roboto&display=swap">
    <script src="https://kit.fontawesome.com/4aa1498f38.js" crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="CSS/register.css">
    <a href="https://www.flaticon.com/free-icons/button" title="button icons"></a>
    <style>
        a {
            color: white;
        }
    </style>
    <title>Register Page</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="login-card">
                <i class="fa-solid fa-code" id="logo"></i>
                <h3>Create an account</h3>
                <div class="login-fields">
                        <form action="/register" method="POST">
                            <div class="icon-inside">
                                <label for="name"></label>
                                <input type="text" id="name" name="name" required placeholder="Name">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="icon-inside">
                                <label for="email"></label>
                                <input type="text" id="email" name="email" required placeholder="Email">
                                <i class="fa-sharp fa-solid fa-envelope input-icon"></i>
                            </div>
                            <div class="icon-inside">
                                <label for="password"></label>
                                <input type="text" id="password" name="password" required placeholder="Password">
                                <i class="fa-sharp fa-solid fa-lock"></i>
                            </div>
                            <button id="login-button"><i class="fa-solid fa-right-to-bracket"></i>Create Account </button>
                            
                            </div>
                            <button class="login-return"><a href="login"><i class="fa-solid fa-right-to-bracket"></i> Go to Login</a></button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>